
a {
    color: var(--color-light);
    text-decoration: none;
}
a:hover {
    color: var(--color-primary);
}

.text {
    text-align: center;
}

/* navbar */
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

    font-size: 1.5rem;
}

.navbar__collapse-show {
    display: block !important;
    width: 100%;
}
.navbar__toggle {
    border: none;
    background-color: transparent;
    display: grid;
    place-content: center;
}

@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
    }
    .navbar__collapse {
        display: none;
    }
}
@media (min-width: 768px) {
    .navbar__toggle {
        display: none;
    }
}
/* https://jensnti.github.io/wu-exempel/navigation/ */
.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}
.nav a {
    text-decoration: none;
}
.nav-item {
    padding-right: 3rem;
}
.nav-item:first-child {
    padding-left: 0rem;
}
.nav-link {
    color: var(--color-dark);
}
.nav-link:hover {
    text-decoration: none;
    color: Black;
    
}

@media (max-width: 768px) {
    .nav {
        padding-left: 0;
        flex-direction: column;
    }
    .nav-item:first-child {
        padding-left: 0rem;
    }
}

.bilder {
    width: 50%;
    display: flex;
}

/* container */

body {
    scroll-behavior: smooth;

    display: flex;
    flex-direction: column;

    color: black;
    background-color: var(--color-primary);

    line-height: 1.5;
    font-size: 1rem;
    font-family: var(--font-cursive);
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container:nth-child(2) {
    background-color: var(--color-shadow);
}

.container > section {
    padding: 3rem 0;
}

@media (min-width: 36rem) {
    .container {
        max-width: 36rem;
    }
}
@media (min-width: 48rem) {
    .container {
        max-width: 48rem;
    }
}
@media (min-width: 62rem) {
    .container {
        max-width: 62rem;
    }
}

/* container för att placera CTA knappen */
.cta {
    margin-top: 3.157rem;
    display: grid;
    place-content: center;
}

/* button för CTA */
.btn {
    text-align: center;
    text-decoration: none;
    margin: 0 0.25rem;
    padding: 0.375rem 0.75rem;
    color: var(--color-dark);
    background-color: var(--color-secondary);
    border: 1px solid transparent;
    border-radius: 0.2rem;
    font-size: 2.369rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover {
    background-color: var(--color-primary);
    color: black
}

/* hero */
.hero {
    font-size: 1.777rem;

    color: black;
    background-color: var(--color-dark);
    min-height: 80vh;
    display: grid;
    place-content: center;

    margin-bottom: 3.157rem;
}

@media (max-width: 36rem) {
    .hero {
        font-size: 1.333rem;
        word-break: break-all;
    }
    .hero h1 {
        font-size: 2.369rem;
    }
}

/* font stilar och storlekar */ 
h1, h2, h3 {
    margin-bottom: 0.777rem;
    line-height: 1.1;
}

h1 {
    font-size: 3.157rem;
    text-align: center;
}

h2 {
    font-size: 2.369rem;
}

h3 {
   font-size: 1.777rem;
}
h4 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
    font-family: var(--font-serif);
}


/* sidfot */
footer {
    margin-top: 3.157rem;
    padding-top: 2.369rem;
    padding-bottom: 3.157rem;
    background-color: var(--color-dark);
    color: black;
}